body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#taskList {
    margin-top: 10px;
}
#taskList li {
    margin: 5px 0;
}
.error {
    color: red;
    font-size: 14px;
}
.container {
  max-width: 400px;
  margin: auto;
}
.container input button p {
  margin-bottom: 2px;
}
.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .delete-button {
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .delete-button:hover {
    background-color: #c82333;
  }
